<div class="usuario-container">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" (click)="volver()" />
  </header>

  <div class="usuario-box" *ngIf="userData">
    <h2>Mi Perfil</h2>

    <div class="usuario-info">
      <p><strong>Nombre:</strong> {{ userData.nombre }}</p>
      <p><strong>Apellido:</strong> {{ userData.apellido }}</p>
      <p><strong>Email:</strong> {{ userData.email }}</p>
      <p><strong>Fecha Nac.:</strong> {{ userData.fechaNacimiento }}</p>
      <p><strong>Teléfono:</strong> {{ userData.nroTelefono }}</p>
      <p><strong>Tipo Cliente:</strong> {{ userData.tipoCliente.denominacion }}</p>
      <p><strong>Descripción:</strong> {{ userData.tipoCliente.descripcion }}</p>
    </div>

    <div class="actions">
      <button class="btn-logout" (click)="logout()">CERRAR SESIÓN</button>
    </div>
  </div>

  <div class="usuario-box" *ngIf="!userData">
    <p>Cargando datos...</p>
  </div>
</div>
