/* Fondo general */
.register-container {
  background-color: #4b0d0d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja */
.register-box {
  background-color: #8b0f0f;
  padding: 2rem;
  border-radius: 20px;
  width: 650px;
  color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* Título */
.register-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Grupos */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

.form-group {
  flex: 1;
  text-align: left;
}

.form-group.full {
  margin-bottom: 1rem;
  text-align: left;
}

/* Labels */
.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  background-color: #f5c5c5;
  outline: none;
  margin-bottom: 0.8rem;
}

/* Filas especiales */
.date-row,
.phone-row,
.dni-row {
  display: flex;
  gap: 0.5rem;
}

.date-row select,
.phone-row select,
.dni-row select {
  width: 25%;
}

.phone-row input,
.dni-row input {
  flex: 1;
}

/* Botón */
.btn-register {
  background-color: #f5c5c5;
  color: #8b0f0f;
  font-weight: bold;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register:hover {
  background-color: #fff;
}
