<app-header></app-header>
<div class="page cartelera">
  <h1 class="titulo-cartelera">CARTELERA</h1>

  <div class="peliculas-grid" *ngIf="peliculas.length > 0">
    <div
      class="pelicula-card"
      *ngFor="let pelicula of peliculas"
      (click)="seleccionarPelicula(pelicula)"
    >
      <div class="poster-container">
        <img [src]="pelicula.urlImagen" [alt]="pelicula.titulo" class="poster-img" loading="lazy" />
      </div>

      <div class="pelicula-info">
        <h3 class="pelicula-titulo">{{ pelicula.titulo }}</h3>
        <p class="pelicula-detalles">{{ pelicula.clasificacion }} - {{ pelicula.genero }}</p>
      </div>
    </div>
  </div>
  <div class="peliculas-grid" *ngIf="peliculas.length === 0">
    <p>Cargando peliculas disponibles...</p>
  </div>
</div>
