<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="login-container">
  <header class="topbar">
    <img src="/assets/logo.png" alt="CineGo" class="logo" />
  </header>

  <div class="login-box">
    <h2>¡BIENVENIDO!</h2>

    <form [formGroup]="formulario" (ngSubmit)="OnLogin()">
      <label for="usuario">Usuario (Email)</label>
      <input type="email" id="usuario" formControlName="email" />

      @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
      <small class="text-danger">Ingresá un email válido.</small>
      }

      <label for="password">Contraseña</label>
      <div class="password-input">
        <input
          id="password"
          [type]="mostrarPassword ? 'text' : 'password'"
          formControlName="password"
        />

        <button type="button" class="toggle-btn" (click)="mostrarPassword = !mostrarPassword">
          <img *ngIf="!mostrarPassword" src="../assets/eye-closed.svg" alt="Mostrar" />
          <img *ngIf="mostrarPassword" src="../assets/eye-open.svg" alt="Ocultar" />
        </button>
      </div>

      <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

      <div class="actions">
        <button type="submit" class="btn-login">INICIAR SESIÓN</button>
      </div>

      <div
        class="g-recaptcha"
        data-sitekey="6LcICREsAAAAAKHWBF39boQk9uCQ__y6iFi7mbb2"
        data-callback="onCaptchaSuccess"
      ></div>

      <p class="register-text">
        ¿Aún no tienes cuenta?
        <a href="register">Regístrate aquí</a>
      </p>
    </form>
  </div>
</div>
